.Login-Container{
        width:100vw;
        height: 100vh;
        background-color: var(--primary-color3);
        display:flex;
        justify-content: center;
        align-items: center;
}

.Form2-Container{
    width:max(420px,40vw);
    height:50vh;
    background-color: var(--primary-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
}